<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 01</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <h1>Hora do Dia</h1>
    </header>

    <section>
        <div id="mensagem">Mensagem</div>
        <div id="div_foto">
            <img id="foto" src="" alt="Foto do Dia">
        </div>
    </section>

    <footer>
        <p>Criado por: <strong>SAMUEL SILVA</strong></p>
    </footer>
    
    <script src="script.js"></script>
</body>
</html>